<template name="home">

    <div class="hero-unit">
        <h1>Hello, world!</h1>

        <p>This is lorem ipsum.</p>

        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
    </div>

</template>