<template name="navbar">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">Boilerplate</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">

                        <li class="{{isActive 'home'}}">
                            <a href="/">Home</a>
                        </li>

                        <li class="{{isActive 'contact'}}">
                            <a href="/contact">Contact</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

</template>