<template name="layout_default">


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        {{> navbar }}

        <!-- Begin page content -->
        <div class="container">

            {{renderPage}}

        </div>

        <div id="push"></div>
    </div>


    <footer id="footer">
        <div class="container">
            {{> footer }}
        </div>
    </footer>


</template>