<head>
    <title>boilerplate</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>


<body>
{{> body }}
</body>


<template name="body">
    {{renderPage layoutName}}
</template>

